<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="io.github.marcgoosen.groceries" level="${APP_LOG_LEVEL:-info}"/>
    <logger name="org.apache.kafka" level="${KAFKA_LOG_LEVEL:-info}"/>
    <logger name="io.ktor" level="${KTOR_LOG_LEVEL:-info}"/>
</configuration>
